<div id="perfil" class="sobre-mim-wrapper">
    <div class="container text-light">
        <div class="row d-flex justify-content-center descricao">
           
           <div class="col-md-6">
                <h1>
                    Luiz Abdoral
                </h1>
                <p>Desenvolvedor Angular/Spring</p>
                <p>
                    Me dedico ao desenvolvimento de software, mais especificamente web, desde 2021.
                    Nesse período pude estagiar em uma empresa brasileira, com as tecnologias: Angular, C#, .NET e Microsoft SQL Server 
                </p>
                <div class="icons">
                    <a href="https://www.linkedin.com/in/luiz-abdoral-5747b3218/" target="_blank">
                        <div class="link-perfil">
                            <i class="bi bi-linkedin"></i>
                        </div>
                    </a>
                   
                    <a href="https://github.com/shadheky" target="_blank">
                        <div class="link-perfil">
                            <i class="bi bi-github"></i>
                        </div>
                    </a>
                    
                </div>
           </div>
        </div>
    </div>
</div>
