<section id="projetos-container">
    <div class="container">
        <div class="projetos-content">
            <h2>Projetos</h2>
            
            <div class="row">
                <div class="col-md-6 col-lg-4" *ngFor="let projeto of projetos">
                    <div class="card col-md-8 col-lg-12 mb-2">
                        <div class="card-body text-light">
                            <img [src]="projeto.imageURL" class="projeto-img img-fluid" alt="">
                            <h3>{{ projeto.name }}</h3>

                            <a class="btn btn-lg btn-outline-dark detalhes-button text-light" [routerLink]="'/projeto/' + projeto.id">
                                VER DETALHES
                            </a>

                            <div class="d-flex justify-content-end">
                                <span class="icons" *ngFor="let technology of projeto.technologys" data-bs-toggle="tooltip" data-bs-placement="top" [title]="technology.name">
                                    <img  [style]="'background-color:'+technology.mainColorInHex + '45'" class="technology-icons rounded" [src]="technology.urlImage" width="25px" alt="">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              

        </div>
    </div>
</section>