@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap');

.apresentacao-content {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.apresentacao-container {
    background: rgb(15,15,15);
    background: linear-gradient(90deg, rgba(15,15,15,1) 0%, rgb(17, 19, 42) 37%, rgb(14, 17, 77) 93%);
    height: 100vh;
}

.navigate {
    display: flex;
    justify-content: center;
}

.navigate  i {
    color: white;
    font-size: 50px;
    cursor: pointer;
    animation: upmove 1.5s infinite alternate;
}

a {
  text-decoration: none;
}

.wrapper {
  
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  font-size: clamp(10px, 4vw, 32px);
  width: 29ch;
  animation: typing 2s steps(30), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-family: monospace;
  font-family: 'Fira Code', monospace;
}


@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

@keyframes upmove {
    0% { transform: translateY(0); }
    100% { transform: translateY(20px); }
}