<div class="apresentacao-container">
    <div class="container">
        <div class="row">
            <div class="col-12  apresentacao-content">
                <h1>Luiz Abdoral</h1>
                <div class="wrapper">
                    <p class="typing-demo">
                        Angular and Spring Developer.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="navigate" >
               <a href="#projetos"> <i class="bi bi-arrow-down-circle navigate" ></i></a>
            </div>
        </div>
    </div>
</div>