.descricao-tecnologia {
    animation: aparicao-texto 2s;
}

.imagem-tecnologia {
    width: 60px;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #383838;
    margin-right: 10px;
    border-radius: 8px;
    transition: .3s;
    margin-bottom: 12px;
}

.img-detalhes-container {
    display: flex;
    justify-content: center;
}

.imagem-tecnologia:hover {
    transform: translateY(-10px);
}

.imagens-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    overflow-x: scroll;
    height: 100px;
    height: 100px;
}

.img-tecnologia-detalhes {
    width: 200px;
    height: 200px;
  
    
}

.min-heigth {
    min-height: 44vh;
}

.imagens-container::-webkit-scrollbar {
    height: 1px;
    
}

.imagens-container::-webkit-scrollbar-thumb {
    height: .1px;
    background: #fdf8f8;
}

@media (max-width:500px) {
    .imagens-container {
        justify-content: flex-start;
    }
}


@keyframes aparicao-texto {
    from {
        color: transparent;
    }

    to {
        color: #fff;
    }
}