@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');


body {
    margin: 0px;
    padding: 0;
    height: 100%;
    font-family: 'Fira Code', monospace !important;
}

html {
    height: 100%;
    margin: 0px;
    padding: 0;
}

html::-webkit-scrollbar {
    width: 2px;
    background-color: black;
}

html::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
}

